<div class="grid grid-cols-1 md:grid-cols-4 gap-6">
  <!-- Left Card -->

  <li class="col-span-1 md:col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
    <div class="flex flex-1 flex-col p-8">
      <%= image_tag("sample_boxer.gif", class: "mx-auto h-32 w-32 flex-shrink-0 rounded-full", alt: fighter.name) %>
      <h2 class="mt-6 text-xl font-bold text-gray-900"><%= fighter.name %></h2>
      <h3 class="text-sm text-gray-500"><%= fighter.nickname %></h3>

      <% if fighter.current_champion? %>
        <% fighter.titles.where(lost_at: nil).each do |title| %>
        <h3 class="mt-2 text-md font-bold text-gray-900"><%= title.name %></h3>
        <% end %>
      <% end %>

      <h3 class="mt-2 text-md font-bold text-gray-900">Rank <%= fighter.rank %></h3>

      <p class="text-xs text-gray-300 italic">Highest (<%= fighter.highest_rank %>) / Previous (<%= fighter.previous_rank %>)</p>
      <h4 class="text-sm font-bold text-gray-900"><%= fighter.wins %> - <%= fighter.losses %> - <%= fighter.draws %>
        (<%= fighter.knockouts %> KOs)</h4>
      <p class="mt-1 text-xs text-gray-300 italic">Winning
        Pct <%= number_with_precision(fighter.winning_percentage, precision: 3).sub(/^0/, '') %></p>
      <dl class="mt-1 flex flex-grow flex-col justify-between">
        <dd class="text-sm text-gray-500"><%= fighter.nickname %></dd>
        <%= link_to weight_class_path(fighter.weight_class) do %>
          <dd class="mt-3">
            <span class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
              <%= fighter.weight_class&.name %> (<%= fighter.weight %>)
            </span>
          </dd>
        <% end %>
      </dl>


      <table class="min-w-full divide-y divide-gray-300 mt-5">
        <tbody class="divide-y divide-gray-200 bg-white">
        <tr class="divide-x divide-gray-200">
          <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">Punch</td>
          <td class="whitespace-nowrap p-4 text-sm text-gray-500"><%= fighter.punch %></td>
        </tr>
        <tr class="divide-x divide-gray-200">
          <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">Strength</td>
          <td class="whitespace-nowrap p-4 text-sm text-gray-500"><%= fighter.strength %></td>
        </tr>
        <tr class="divide-x divide-gray-200">
          <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">Speed</td>
          <td class="whitespace-nowrap p-4 text-sm text-gray-500"><%= fighter.speed %></td>
        </tr>
        <tr class="divide-x divide-gray-200">
          <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">Dexterity</td>
          <td class="whitespace-nowrap p-4 text-sm text-gray-500"><%= fighter.dexterity %></td>
        </tr>
        <tr class="divide-x divide-gray-200">
          <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">Base Endurance</td>
          <td class="whitespace-nowrap p-4 text-sm text-gray-500"><%= fighter.base_endurance %></td>
        </tr>
        <tr class="divide-x divide-gray-200">
          <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">Current Endurance</td>
          <td class="whitespace-nowrap p-4 text-sm text-gray-500"><%= fighter.endurance %></td>
        </tr>
        </tbody>
      </table>


    </div>
  </li>

  <!-- Right Column -->

  <div class="col-span-1 md:col-span-3">
    <!-- Content for the right column -->
    <h2 class="text-xl font-bold text-gray-900">Past Titles</h2>
    <% if fighter.past_champion? %>
      <% fighter.titles.where.not(lost_at: nil).each do |title| %>
        <p class="mb-1 mt-1"><%= title.name %> (Lost <%= time_ago_in_words(title.lost_at) %> ago)</p>
      <% end %>
    <% else %>
      <p class="mb-1 mt-1">No</p>
    <% end %>

    <h2 class="mt-5 text-xl font-bold text-gray-900">Next Match</h2>

    <% if fighter.pending_matches.blank? %>
      <p class="mb-1 mt-1">No Matches
        Scheduled.  <%= link_to "Schedule one now.", new_match_url(fighter_1_id: fighter.id, weight_class_id: fighter.weight_class.id), class: "text-blue-500 hover:underline" %>
      </p>
    <% else %>
      <% fighter.pending_matches.each do |match| %>
        <% opponent = match.opponent(fighter) %>

        <p class="mb-1 mt-1">
          vs
          <%= link_to opponent.name, fighter_url(opponent), class: "text-blue-500 hover:underline" %>
          (<%= opponent.wins %> - <%= opponent.losses %> - <%= opponent.draws %>
          ) <%= match.max_rounds %> Rounds
          [<%= link_to "Fight", fight_match_url(match), class: "text-blue-500 hover:underline" %>]
        </p>
      <% end %>
    <% end %>

    <h2 class="mt-5 text-xl font-bold text-gray-900">Match History</h2>

    <% fighter.completed_matches.each do |match| %>
      <p class="mb-1 mt-1">
        <% if match.fighter_1 != fighter %>
          <% opponent = match.fighter_1 %>
        <% else %>
          <% opponent = match.fighter_2 %>
        <% end %>
        <%= match.outcome(fighter) %>
        vs
        <%= link_to opponent.name, fighter_url(opponent), class: "text-blue-500 hover:underline" %>
        (<%= opponent.wins %> - <%= opponent.losses %> - <%= opponent.draws %>)
        <% if match.result_id == "ko" %>
          <%= match.rounds.count.ordinalize %> Round <%= match.result_id.upcase %>
        <% else %>
          <%= match.rounds.count.ordinalize %> Round Decision (<%= match.fighter_1_final_score %>
          to <%= match.fighter_2_final_score %>)
        <% end %>
      </p>
    <% end %>


  </div>


</div>

