<div class="grid grid-cols-1 md:grid-cols-4 gap-6">
  <!-- Left Card -->

  <%= render partial: "fighter_card", locals: { fighter: fighter } %>


  <!-- Right Column -->

  <div class="col-span-1 md:col-span-3">
    <!-- Content for the right column -->
    <h2 class="text-xl font-bold text-gray-900">Level Up</h2>
    <% if fighter.level_points < 1 %>
      <p class="mb-1 mt-1">You have no level points.  Buying training points increase your chances to earn level points.</p>
    <% else %>
      <p class="mb-1 mt-1">You have <%= fighter.level_points %> level points.  Use points to level up.</p>
    <% end %>
    <p class="mb-1 mt-1">You have <%= fighter.training_points %> training points.  Buy training points to increase your chances to earn level points.</p>
    <p class="mb-1 mt-1">Training point cost <%= number_to_currency(fighter.training_point_cost, precision: 0) %>.</p>
    <% if fighter.balance > fighter.training_point_cost %>
      <p class="mb-1 mt-1"><%= button_to 'Buy Training Point', { action: :update, controller: 'fighters', fighter: { buy_training_points: true } }, method: :patch, form_class: "d-inline", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %></p>
    <% else %>
      <p class="mb-1 mt-1">You need <%= number_to_currency(fighter.training_point_cost - fighter.balance, precision: 0) %> more to buy a training point.</p>
    <% end %>

    <h2 class="mt-5 text-xl font-bold text-gray-900">Past Titles</h2>
    <% if fighter.past_champion? %>
      <% fighter.titles.where.not(lost_at: nil).each do |title| %>
        <p class="mb-1 mt-1"><%= title.name %> (Lost <%= time_ago_in_words(title.lost_at) %> ago)</p>
      <% end %>
    <% else %>
      <p class="mb-1 mt-1">No</p>
    <% end %>

    <h2 class="mt-5 text-xl font-bold text-gray-900">Next Match</h2>

    <% if fighter.pending_matches.blank? %>
      <p class="mb-1 mt-1">No Matches Scheduled.</p>
      <% opponents = fighter.suggested_opponents %>
      <% if opponents.nil? %>
        <p class="font-bold">Suggested Opponents</p>
        <ul>
          <% fighter.suggested_opponents.each do |opponent| %>
            <li><%= link_to opponent.name, fighter_url(opponent), class: "text-blue-500 hover:underline" %> (Rank <%= opponent.rank %>) -> <%= link_to "Schedule Match", new_match_url(fighter_1_id: fighter.id, fighter_2_id: opponent.id, weight_class_id: fighter.weight_class.id), class: "text-blue-500 hover:underline" %></li>
          <% end %>
        </ul>
      <% else %>
        <p class="mb-1 mt-1"><%= link_to "Schedule one.", new_match_url(fighter_1_id: fighter.id, weight_class_id: fighter.weight_class.id), class: "text-blue-500 hover:underline" %></p>
      <% end %>
    <% else %>
      <% fighter.pending_matches.each do |match| %>
        <% opponent = match.opponent(fighter) %>

        <p class="mb-1 mt-1">
          vs
          <%= link_to opponent.name, fighter_url(opponent), class: "text-blue-500 hover:underline" %>
          (<%= opponent.wins %> - <%= opponent.losses %> - <%= opponent.draws %>
          ) <%= match.max_rounds %> Rounds
          [<%= link_to "Fight", fight_match_url(match), class: "text-blue-500 hover:underline" %>]
        </p>
      <% end %>
    <% end %>

    <h2 class="mt-5 text-xl font-bold text-gray-900">Match History</h2>

    <% fighter.completed_matches.each do |match| %>
      <p class="mb-1 mt-1">
        <% if match.fighter_1 != fighter %>
          <% opponent = match.fighter_1 %>
        <% else %>
          <% opponent = match.fighter_2 %>
        <% end %>
        <%= match.outcome(fighter) %>
        vs
        <%= link_to opponent.name, fighter_url(opponent), class: "text-blue-500 hover:underline" %>
        (<%= opponent.wins %> - <%= opponent.losses %> - <%= opponent.draws %>)
        <% if match.result_id == "ko" %>
          <%= match.rounds.count.ordinalize %> Round <%= match.result_id.upcase %>
        <% else %>
          <%= match.rounds.count.ordinalize %> Round Decision (<%= match.fighter_1_final_score %>
          to <%= match.fighter_2_final_score %>)
        <% end %>
        [<%= link_to "View", match_url(match), class: "text-blue-500 hover:underline" %>]
      </p>
    <% end %>

    <h2 class="mt-5 text-xl font-bold text-gray-900">Earnings / Ledger</h2>
    <p class="mb-1 mt-1 font-bold">Lifetime Earnings: <%= number_to_currency(fighter.total_winnings, precision: 0) %></p>
    <% fighter.ledgers.each do |ledger| %>
      <p class="mb-1 mt-1"><%= "#{ledger.transaction_date} #{ledger.description}: #{number_to_currency(ledger.amount, precision: 0)}"  %></p>
    <% end %>



  </div>


</div>

