<div id="<%= dom_id fighter %>">
  <p>
    <strong>Name:</strong>
    <%= fighter.name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= fighter.nickname %>
  </p>

  <p>
    <strong>Birthplace:</strong>
    <%= fighter.birthplace %>
  </p>

  <div>
    <p>
    <strong>Punch:</strong>
    <%= fighter.punch %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= fighter.strength %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= fighter.speed %>
  </p>

  <p>
    <strong>Dexterity:</strong>
    <%= fighter.dexterity %>
  </p>

  <p>
    <strong>Endurance:</strong>
    <%= fighter.endurance %>
  </p>
</div>
