<%= form_with(model: fighter) do |form| %>
  <% if fighter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fighter.errors.count, "error") %> prohibited this fighter from being saved:</h2>

      <ul>
        <% fighter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :nickname, style: "display: block" %>
    <%= form.text_field :nickname %>
  </div>

  <div>
    <%= form.label :birthplace, style: "display: block" %>
    <%= form.text_field :birthplace %>
  </div>

  <div>
    <%= form.label :punch, style: "display: block" %>
    <%= form.number_field :punch %>
  </div>

  <div>
    <%= form.label :strength, style: "display: block" %>
    <%= form.number_field :strength %>
  </div>

  <div>
    <%= form.label :endurance, style: "display: block" %>
    <%= form.number_field :endurance %>
  </div>

  <div>
    <%= form.label :speed, style: "display: block" %>
    <%= form.number_field :speed %>
  </div>

  <div>
    <%= form.label :dexterity, style: "display: block" %>
    <%= form.number_field :dexterity %>
  </div>

  <div>
    <%= form.label :endurance, style: "display: block" %>
    <%= form.number_field :endurance %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
