<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col-span-full">
    <%= form.label :weight_class_id, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <%= form.collection_select :weight_class_id, @weight_classes, :id, :name, {}, {disabled: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" } %>
  </div>

  <div class="col-span-full">
    <%= form.label :fighter_1_id, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <%= form.collection_select :fighter_1_id, @fighters, :id, :name, {}, { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" } %>
  </div>

  <div class="col-span-full">
    <%= form.label :fighter_2_id, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <%= form.collection_select :fighter_2_id, @fighters, :id, :name, {}, { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" } %>
  </div>


  <div class="col-span-full">
    <%= form.label :status_id, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <%= form.select :status_id, Match.status_ids.keys.map { |status| [status.humanize, Match.status_ids[status].to_s] }, {}, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
  </div>


  <div class="col-span-full">
    <%= form.label :winner_id, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <%= form.number_field :winner_id, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
  </div>

  <div class="col-span-full">
    <%= form.label :result_id, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <%= form.number_field :result_id, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
  </div>

  <div class="col-span-full">
    <%= form.label :max_rounds, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <%= form.number_field :max_rounds, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <%= link_to matches_url, class: "text-sm font-semibold leading-6 text-gray-900" do %>
      Cancel
    <% end %>
    <%= form.submit class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  </div>
<% end %>
