<div id="<%= dom_id match %>">
  <p>
    <strong>max_rounds:</strong>
    <%= match.max_rounds %>
  </p>

  <p>
    <strong>Fighter 1:</strong>
    <%= match.fighter_1_id %>
  </p>

  <p>
    <strong>Fighter 2:</strong>
    <%= match.fighter_2_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= match.status_id %>
  </p>

  <p>
    <strong>Winner:</strong>
    <%= match.winner_id %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= match.result_id %>
  </p>

  <p>
    <strong>Weight class:</strong>
    <%= match.weight_class_id %>
  </p>

</div>
