<div id="<%= dom_id weight_class %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= weight_class.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max weight:</strong>
    <%= weight_class.max_weight %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this weight class", weight_class, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this weight class', edit_weight_class_path(weight_class), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
